*.o
*.obj
*.res
*.tds
*.map
x64/
ipch/
Debug/
Release/
.vs/
*.sdf
*.suo
*.opensdf
*.user
*.filters
*.exe
CMakeCache.txt
cmake_install.cmake
CMakeFiles
Makefile
*-old
karasunpo32-*
karasunpo64-*
