*.autosave
*.cmake
*.dir
*.exe
*.filters
*.idb
*.map
*.ncb
*.o
*.obj
*.opensdf
*.res
*.sdf
*.sln
*.suo
*.tds
*.user
*.vcproj
*.vcxproj
*~
.vs
CMakeCache.txt
CMakeFiles
Debug
Makefile
Release
TMP1.$$$
build
ipch
*-old
*.skrold
a.*
*.ninja
.ninja*
*.exe
*.dll
lib*.a
x64/
Win32
!katahiromz_pdfium/x86/
!katahiromz_pdfium/x64/
!katahiromz_pdfium/x86/pdfium.dll
!katahiromz_pdfium/x64/pdfium.dll
*.msi
*.wixobj
*.wixpdb
