<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="EA918EB8-995C-4706-B8EE-66578B61413A" Name="画像カラスンポPro" Language="1041" Version="1.1" Manufacturer="片山博文MZ" UpgradeCode="5614CFB3-4F61-4398-B6E1-3911AA34C07F" Codepage="932">
        <Package Description="画像カラスンポPro" Comments="名目上の寸法または角度を計測" InstallerVersion="200" Compressed="yes" SummaryCodepage="932" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" CompressionLevel="high" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="KarasunpoPro">
                    <Component Id="karasunpo.exe" Guid="007EE244-D9A1-4B98-ADEA-53042E92B70F">
                        <File Id="KARASUNPO.EXE" Name="karasunpo.exe" Source="karasunpo\karasunpo.exe" KeyPath="yes">
                            <Shortcut Id="KarasunpoDesktopShortcut" Directory="DesktopFolder" Name="画像カラスンポ" Description="画像カラスンポを起動する" Advertise="yes" Icon="karasunpo.exe" IconIndex="0" />
                        </File>
                    </Component>
                    <Component Id="READMEJP.txt" Guid="D3EFA8B9-8152-492F-80E3-4DBA1D3C222D">
                        <File Id="READMEJP.TXT" Name="READMEJP.txt" Source="READMEJP.txt" />
                    </Component>
                    <Component Id="LICENSE.txt" Guid="A98E60BD-6C92-4787-9248-9796AFDC0E5C">
                        <File Id="LICENSE.TXT" Name="LICENSE.txt" Source="LICENSE.txt" />
                    </Component>
                    <Component Id="karasunpo_manual_ja.pdf" Guid="7EBCD1AC-5609-4867-9E55-3A35BA953C48">
                        <File Id="karasunpo_manual_ja.pdf" Name="karasunpo_manual_ja.pdf" Source="karasunpo_manual_ja.pdf" />
                    </Component>
                    <Directory Id="X86" Name="x86">
                        <Component Id="PDFIUM.DLL" DiskId="1" Guid="7C9B31D2-66C3-4E45-ABD4-5F5D9C4A9A5B">
                            <File Id="PDFIUM.DLL" Name="pdfium.dll" Source="katahiromz_pdfium\x86\pdfium.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="画像カラスンポ" />
            </Directory>
        </Directory>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="8EF8C514-DF73-4079-970C-89B6B1BF07E1">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="画像カラスンポ" Description="画像カラスンポ" Target="[APPLICATIONROOTDIRECTORY]karasunpo.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\Katayama Hirofumi MZ\karasunpo" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                <Shortcut Id="UninstallProduct" Name="画像カラスンポのアンインストール" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Description="画像カラスンポをアンインストールする" />
                <Shortcut Id="READMEJP.TXT" Name="はじめにお読み下さい" Target="[APPLICATIONROOTDIRECTORY]READMEJP.txt" Description="はじめにお読み下さい" />
                <Shortcut Id="LICENSE.TXT" Name="LICENSE.txt" Target="[APPLICATIONROOTDIRECTORY]LICENSE.txt" Description="使用許諾契約書" />
                <Shortcut Id="karasunpo_manual_ja.pdf" Name="マニュアル(PDF)" Description="マニュアル(PDF)" Target="[APPLICATIONROOTDIRECTORY]karasunpo_manual_ja.pdf" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="ApplicationShortcut2" Guid="8EF8C514-DF73-4079-970C-89B6B1BF07E2">
                <Shortcut Id="UninstallProduct2" Name="アンインストール" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Description="画像カラスンポのアンインストール" />
                <RemoveFolder Id="APPLICATIONROOTDIRECTORY" On="uninstall" />
            </Component>
        </DirectoryRef>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="karasunpo.exe" />
            <ComponentRef Id="LICENSE.txt" />
            <ComponentRef Id="READMEJP.txt" />
            <ComponentRef Id="PDFIUM.DLL" />
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="ApplicationShortcut2" />
            <ComponentRef Id="karasunpo_manual_ja.pdf" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="installer-banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="installer-dialog.bmp" />
        <Icon Id="karasunpo.exe" SourceFile="C:\dev\KarasunpoProject\karasunpo\karasunpo\res\1033_Icon_1.ico" />
        <Property Id="ARPPRODUCTICON" Value="karasunpo.exe" />
    </Product>
</Wix>